<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Home</title>
</head>
<body>
    <div class="banner"></div>
    <div class="content1">
      <h1>CAPTION GENERATION</h1>
      <b>Welcome to our website where we use advanced technology to predict and detect the Caption for the image.<br>
         Our quickly and PREDICTIVE WEBSITE PROVIDE YOU TO CHOOSE<br> accurately Captions.</b>
      <div>
          
      </div>
    <a href="/input">Predict</a>
</body>
</html>