<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prdict</title>
</head>
<body>
    <header> <h1>Caption generation</h1>
    </header>

    <p><b>Upload a Image to predict the caption. You can provide a form for image upload and display the prediction result here.</b></p>
    <br>
     <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <input type="submit" value="Upload and Analyze">
    </form>
    <br><br>
    <br><br>
   <footer>
    &copy;2024 IMAGE CAPTION GENERATION 
   </footer>
</body>
</html>